name: Earth Observation Natural Events Data Import

on:
  push:
    paths:
      - earthobs.yml
  workflow_dispatch:
  schedule:
    - cron: '0 17 * * *'

jobs:
  scheduled:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repo
        uses: actions/checkout@v2
      - name: Fetch newest
        uses: githubocto/flat@v2
        with:
          http_url: https://eonet.sci.gsfc.nasa.gov/api/v3/events?days=1.json
          downloaded_filename: newest.json
      - name: Neo4j import
        uses: johnymontana/flat-graph@v1.2
        with:
          neo4j-user: ${{secrets.NEO4J_USER}}
          neo4j-password: ${{secrets.NEO4J_PASSWORD}}
          neo4j-uri: ${{secrets.NEO4J_URI}}
          filename: newest.json
          cypher-query: >
            UNWIND $value.events as e
            UNWIND e.sources as s
            UNWIND e.categories as c
            UNWIND e.geometry as g
            merge(event:Event {id:e.id}) ON CREATE SET event.title=e.title, event.date = g.date, event.coordinates = g.coordinates
            merge (source:Source {name:s.id}) ON CREATE SET source.url = s.url
            merge (source)-[:DETECTED_BY]->(event)
            merge(category:Category {name:c.title})
            merge (category)<-[:OF_TYPE]-(event) 
            RETURN e.title, e.id ,s.id, s.url, c.title, g.date,g.coordinates
